.dx-scrollable-scroll-content {
    background: #9e9e9e !important;
    border-radius: 10px !important;
    width: 100%;
    height: 100%;
  }
  .dx-scrollbar-hoverable {
    background-color: transparent;
  }
  .dx-scrollbar-vertical .dx-scrollable-scroll {
    width: 12px !important;
  }